*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
}

body {
    
    background-color: aquamarine;
    background-repeat: no-repeat;
    background-size: cover;

}
ul {
    background-color: lightgreen;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

}
li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 7px;



}
a{
    color: black;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
}
h1 {

    color:rgba(20, 50, 50, 25);
    text-align: left;
    font-size: 40px;
    font-family: ariel;
}
img{
    margin-top: 150px;
    border: 2px solid black;
    border-radius: 20px;
}
.my-footer {
    margin-top :300px;
    background-color: black;
    border:2px solid gray;
    height:100px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} 
.my-footer img {

    margin: 0px;
}
    

