body {
    background-color: goldenrod;
    
    

}

h1 {

    color:rgba(20, 50, 50, 25);
    text-align: left;
    font-size: 40px;
    
}
.header{
    border-bottom: 5px solid black;
    border-right: 5px solid black
    

}
p {
    font-family: serif;
    font-size: 20px;
    

}

footer .footer {
    background-color: black;
    font-size: 10px;
    font-style: italic;
    color: white;
    height: 180px;
    border-top: 5px solid rgba(220, 0,0 , 50);
    padding: 10px 10px;
    box-sizing: border-box;


    
    
}

li {
    
    font-size: 30px;
    
}
